* {
	margin: 0;
	padding: 0;
}

a {
	font-family: sans-serif;
	text-decoration: none;
}

.header {
	background: #a5c;
	padding-inline: 1px;
}

.nav {
	max-width: 1280px;
	height: 94px;
	margin-inline: auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {

	width: 70px;
	height: 190px;
	left: 100px;
}

.nav-list {
	display: flex;
	gap: 32px;
	list-style: none;
}

.nav-list a {
	font-size: 18px;
	color: #fff;
	padding-block: 16px;
}

.hero {
	height: calc(100vh - 70px);
	background-color: rgba(173, 87, 207, 0.739);
}

.hamburger {
	display: none;
	border: none;
	background: none;
	border-top: 3px solid #fff;
	cursor: pointer;
}

.hamburger::after,
.hamburger::before {
	content: " ";
	display: block;
	width: 30px;
	height: 3px;
	background: #fff;
	margin-top: 5px;
	position: relative;
	transition: 0.3s;
}

@media (max-width: 750px) {
	.hamburger {
		display: block;
		z-index: 1;
	}

	.nav-list {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: #a5c;
		clip-path: circle(100px at 90% -15%);
		transition: 1s ease-out;

		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		gap: 0;

		pointer-events: none;
	}

	.nav-list a {
		font-size: 24px;
		opacity: 0;
	}

	.nav-list li:nth-child(1) a {
		transition: 0.5s 0.2s;
	}

	.nav-list li:nth-child(2) a {
		transition: 0.5s 0.4s;
	}

	.nav-list li:nth-child(3) a {
		transition: 0.5s 0.6s;
	}

	/* Estilos ativos */

	.nav.active .nav-list {
		clip-path: circle(1500px at 90% -15%);
		pointer-events: all;
	}

	.nav.active .nav-list a {
		opacity: 1;
	}

	.nav.active .hamburger {
		position: fixed;
		top: 26px;
		right: 16px;
		border-top-color: transparent;
	}

	.nav.active .hamburger::before {
		transform: rotate(135deg);
	}

	.nav.active .hamburger::after {
		transform: rotate(-135deg);
		top: -7px;
	}
}

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background-color: rgba(173, 87, 207, 0.739);

}

a {
	font-family: sans-serif;
	text-decoration: none;
}

.header {
	background: #a5c;
	padding-inline: 1px;
}

.nav {
	max-width: 1280px;
	height: 94px;
	margin-inline: auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {

	width: 70px;
	height: 190px;
	left: 100px;
}

.nav-list {
	display: flex;
	gap: 32px;
	list-style: none;
}

.nav-list a {
	font-size: 18px;
	color: #fff;
	padding-block: 16px;
}


.hamburger {
	display: none;
	border: none;
	background: none;
	border-top: 3px solid #fff;
	cursor: pointer;
}

.hamburger::after,
.hamburger::before {
	content: " ";
	display: block;
	width: 30px;
	height: 3px;
	background: #fff;
	margin-top: 5px;
	position: relative;
	transition: 0.3s;
}

@media (max-width: 750px) {
	.hamburger {
		display: block;
		z-index: 1;
	}

	.nav-list {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: #a5c;
		clip-path: circle(100px at 90% -15%);
		transition: 1s ease-out;

		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		gap: 0;

		pointer-events: none;
	}

	.nav-list a {
		font-size: 24px;
		opacity: 0;
	}

	.nav-list li:nth-child(1) a {
		transition: 0.5s 0.2s;
	}

	.nav-list li:nth-child(2) a {
		transition: 0.5s 0.4s;
	}

	.nav-list li:nth-child(3) a {
		transition: 0.5s 0.6s;
	}

	/* Estilos ativos */

	.nav.active .nav-list {
		clip-path: circle(1500px at 90% -15%);
		pointer-events: all;
	}

	.nav.active .nav-list a {
		opacity: 1;
	}

	.nav.active .hamburger {
		position: fixed;
		top: 26px;
		right: 16px;
		border-top-color: transparent;
	}

	.nav.active .hamburger::before {
		transform: rotate(135deg);
	}

	.nav.active .hamburger::after {
		transform: rotate(-135deg);
		top: -7px;
	}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
  }

  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 87, 207, 0.739);
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(52, 1, 72, 0.975);
    max-height: 500px;
    width: 500px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: rgba(104, 17, 139, 0.487) 0px 30px 90px;
}

.form {
display: flex;
flex-direction: column;
gap: 15px;
padding: 34px;
}

/*checkbox to switch from sing up to login*/

#chk {
    display: none;
}

/*Login*/

.login {
    position: relative;
    width: 100%;
    height: 100%;
}

.login label {
    margin: 2% 0 7%;
}

label {
    color: #fff;
    font-size: 2.5rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.input {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    background: #e0dede;
    padding: 15px;
    margin-top: 2px;
    border: none;
    outline: none;
    border-radius: 4px;
}

/*Register*/

.register {
    background: #eee;
    border-radius: 80% / 10%;
    transition: .8s ease-in-out;
}

.register label {
    color: #6d07b0;
    transform: scale(.8);
}

#chk:checked ~ .register {
    transform: translateY(-68%);
}

#chk:checked ~.register label {
    transform: scale(1);
    margin-bottom: .7rem;
}

#chk:checked ~.login label {
    transform: sacle(.6);
}

/*Button*/

.form button {
    width: 70%;
    height: 50px;
    margin: 10px auto 10%;
    color: #fff;
    background: rgba(136, 21, 182, 0.838);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
}

.form button:hover {
    background-color: rgba(119, 21, 157, 0.838);
}
  
  .header {
    background: #a5c;
    padding-inline: 1px;
  }
  
  .nav {
    max-width: 1280px;
    height: 94px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {

    width: 70px;
  height: 190px;
  left: 100px;
  }
  
  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  .nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
  }
  

  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }
  
  @media (max-width: 750px) {
    .hamburger {
      display: block;
      z-index: 1;
    }
  
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #a5c;
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
  
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
  
      pointer-events: none;
    }
  
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
  
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
  
    /* Estilos ativos */
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

  *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(173, 87, 207, 0.739);

}


.container
{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    /* border-radius: 22px; */
    /* background-color: #fff; */

}

.container .contactInfo
{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background:rgb(82, 13, 109);
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15); 
    border-radius: 22px;
}

.container .contactInfo h2
{
    color: #fff;
    font-size:24px;
    font-weight: 500;
}

.container .contactInfo ul.info 
{
   position: relative;
   margin: 20px 0; 
}

.container .contactInfo ul.info li
{
   position: relative;
   list-style: none;
   display: flex;
   margin: 20px 0;
   cursor: pointer;
   align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}

/* for gmail */
.container .contactInfo ul.info li span a
{
    color: #fff;
    text-decoration: none;
    width: 30px;
    min-width: 30px;
    
}

.container .contactInfo ul.info li span:nth-child(1) img
{
    max-width: 100%;
    filter: invert(1);
}

.container .contactInfo ul.info li span:nth-child(2)
{
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

.container .contactInfo ul.sci
{
    position: relative;
    display: flex;
}

.container .contactInfo ul.sci li
{
   list-style: none;  
   margin-right: 15px;
}

.container .contactInfo ul.sci li a
{
   text-decoration: none;
}

.container .contactInfo ul.sci li a img
{
   filter: invert(1);
}

.container .contactForm
{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff; 
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
    border-radius: 22px;
}

.container .contactForm h2
{
    color: #400b44;
    font-size: 24px;
    font-weight: 500;
}

.container .contactForm .formBox
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contactForm .formBox .inputBox
{
    position: relative;
    margin-bottom: 35px;
}

.container .contactForm .formBox .inputBox.w50
{
    width: 47%;
}

.container .contactForm .formBox .inputBox.w100
{
    width: 100%;
}

.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea 
{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #322f32;
    border: none;
    outline: none;
    border-bottom: 1px solid #91409a;
}

.container .contactForm .formBox .inputBox textarea 
{
    height: 120px;
}

.container .contactForm .formBox .inputBox span 
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.container .contactForm .formBox .inputBox input:focus ~ span,
.container .contactForm .formBox .inputBox input:valid ~ span,
.container .contactForm .formBox .inputBox textarea:focus ~ span, 
.container .contactForm .formBox .inputBox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size:  12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(149, 12, 203, 0.739);
    font-weight: 500;
} 

/* Css for the submit button */
.container .contactForm .formBox .inputBox input[type="submit"]         
{
    position: relative;
    cursor: pointer;
    background: rgba(157, 24, 210, 0.739);
    border-radius: 20px;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;

}

.container .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: rgba(105, 17, 139, 0.838);
}

/* make the form responsive */
@media (max-width: 1200px)
{
    .container
    {
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px ;
    }

    .container .contactInfo
    {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
        border-radius: 0px;
    }

    .container .contactForm
    {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
        border-radius: 0px;
    }
}

@media (max-width: 991px)
{
    section
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: rgba(173, 87, 207, 0.739);
    }

    section::before
    {
        display: none;
    }

    .container
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .container .contactForm
    {
        width: 100%;
        height: auto;
        border-radius: 0px;
    }

    .container .contactInfo
    {
        width: 100%;
        height: auto;
        flex-direction: row;
        border-radius: 0px;
    }
    .container .contactInfo ul.sci
    {
       position: relative;
       display: flex;
       justify-content: center;
       align-items: center;
    }
}

@media (max-width: 600px)
{
    .container .contactForm
    {
        padding: 25px;
    }

    .container .contactInfo{
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .container .contactInfo ul.sci
    {
        margin-top: 40px;
    }

    .container .contactForm .formBox .inputBox.w50
    {
        width: 100%;
    }
}
  .contactUs
{
  position:relative;
  width: 100%;
  padding: 40px 100px;

}
  a {
    font-family: sans-serif;
    text-decoration: none;
  }
  
  .header {
    background: #a5c;
    padding-inline: 1px;
  }
  
  .nav {
    max-width: 1280px;
    height: 94px;
    margin-inline: auto;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {

    width: 70px;
  height: 190px;
  left: 100px;
  }
  
  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  .nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
  }
  
  .hero {
    height: calc(100vh - 70px);
    background-color: rgba(173, 87, 207, 0.739);
  }
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }
  
  @media (max-width: 750px) {
    .hamburger {
      display: block;
      z-index: 1;
    }
  
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #a5c;
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
  
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
  
      pointer-events: none;
    }
  
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
  
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
  
    /* Estilos ativos */
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
}